.CategoryList {
  display: grid;
  gap: 25px;
  padding: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;
  max-width: 1300px;
}

@media screen and (max-width: 980px) {
  .CategoryList {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 30px 0;
  }
}

@media screen and (max-width: 750px) {
  .CategoryList {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .CategoryList {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100%;
  }
}
