:root {
  --bg-color: #f5f7fb;
  --foreground: #171717;

  --navbar-height: 70px;
  --sidebar-width: 500px;
  --sidebar-width-collapsed: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
s body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content-page {
  display: flex;
  justify-content: center;
  margin-top: var(--navbar-height);
  min-height: calc(100dvh - var(--navbar-height));
}

.page-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
