.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--background-primary-inverted);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-sizing: border-box;
  color: var(--color-primary-inverted);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
body.scrolled .Navbar {
  transform: translateY(-100%);
}

body.scroll-up .Navbar {
  transform: translateY(0);
}
.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transform: translateY(0);
}
.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar_menu {
  width: 36px;
  height: 36px;
  cursor: pointer;
  fill: var(--color-primary-inverted);
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  font-weight: 700;
}
.navbar-left,
.navbar-right {
  z-index: 1;
}

.navbar_cart {
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 36px;
  fill: var(--color-primary-inverted);
}
.navbar_search {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.navbar_cart_coutner {
  position: absolute;
  background: var(--background-primary-inverted);
  top: -5px;
  right: -10px;
  font-size: 10px;
}

.custom-select {
  position: relative;
  width: 200px;
  border: 1px solid var(--color-secondary-inverted);
  border-radius: 4px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.selected-option {
  padding: 10px;
  background-color: var(--background-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--color-secondary-inverted);
  border-radius: 4px;
  background-color: var(--background-primary);
  z-index: 1;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--color-secondary-inverted);
}

.custom-select.open .options {
  display: block;
}

.navbar-language {
  width: 36px;
  height: 36px;
  cursor: pointer;
  fill: var(--color-primary-inverted);
  background: none;
}

@media screen and (max-width: 980px) {
  .navbar-logo {
    font-size: 24px;
  }
  .Navbar {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .language-container {
    display: none;
  }
}
