.responsive-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.gallery-container {
  padding: 0;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  overflow: hidden;
}

.splide {
  direction: ltr !important;
}
@media (max-width: 768px) {
  .splide__arrow {
    display: none !important;
  }
}
