.CategoryPage {
  display: flex;
  flex-direction: column;
}
.CategoryPage__title {
  text-align: center;
  width: 100%;
  font-size: 56px;
  padding: 20px;
}
.products-page-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 9fr;
  max-width: 1440px;
  position: relative;
}

@media (max-width: 750px) {
  .products-page-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: block;
  }
}
