.Sidebar {
  width: var(--sidebar-width);
  max-width: 100vw;
  background: white;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: fixed;
  height: 100dvh;
  visibility: visible;
}
.Sidebar_header {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  height: var(--navbar-height);
  border-bottom: 1px solid rgb(214, 214, 214);
}
.Sidebar-close-icon {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.Sidebar-rtl {
  right: 0;
}
.Sidebar_wrapper {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease;
}

.Sidebar_footer {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));
}

.Sidebar_footer > div {
  border-top: 1px solid rgba(215, 215, 215, 0.5);
  padding: 20px 0;
}

.Sidebar_footer_contact div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  gap: 30px;
}

.Sidebar_footer_contact span {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.Sidebar_footer_contact span:hover {
  transform: translateY(-2px);
  background-color: rgba(0, 0, 0, 0.05);
}

.Sidebar_footer_contact svg {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.Sidebar_footer_contact span:hover svg {
  fill: #000;
}

.collapsed {
  transform: translateX(-100%);
  opacity: 0;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.overlayActive {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Sidebar {
    max-width: 280px;
  }

  .SideBar__Item {
    font-size: 16px;
    padding: 10px 15px;
  }

  .Sidebar_footer_contact div {
    gap: 20px;
  }
}
