.CartItem {
  height: 100px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.CartItem__image {
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 4px;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CartItem__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохраняет пропорции и обрезает лишнее */
}

.CartItem__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.CartItem__info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.CartItem__info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.CartItem__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
}

.CartItem__quantity button {
  border: none;
  box-sizing: border-box;
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}
.CartItem__quantity div {
  width: 25px;
  font-size: 12px;
  text-align: center;
}

.CartItem__quantity button:hover {
  background-color: #f8f8f8;
}

.CartItem__quantity button:active {
  background-color: #efefef;
}

.CartItem__price {
  font-weight: bold;
  font-size: 16px;
}

.CartItem__input {
  all: unset;
  width: 25px;
  text-align: center;
  border: none;
  background: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
}

.CartItem__input::-webkit-inner-spin-button,
.CartItem__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-price {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.product-price__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-price__current {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  color: #000;
}

.product-price__discount {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: #e41e31;
  font-weight: 600;
}

.product-price__old {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #666;
  text-decoration: line-through;
  font-weight: normal;
}

.product-price__currency {
  font-size: 0.85em;
  margin-right: 2px;
}

/* Optional hover effect */
.product-price__discount:hover {
  color: #c41929;
}

/* Responsive styles */
@media (max-width: 768px) {
  .product-price__discount {
    font-size: 18px;
  }

  .product-price__old {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .CartItem {
    padding-right: 10px;
  }
}
